:host {
  height: 100%;
  text-align: center;
}

:host {
  font-size: 110%;
  color: #ecf0f1;
  font-family: "Source Sans Pro", sans-serif;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  --button: #b3b3b3;
  --button-color: #0a0a0a;
  --bg: #737373;
}

.main {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Poiret One", cursive;
  font-size: 4rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.sub-title {
  border-top: 0.1rem solid #fff;
  padding: 1rem 6rem;
  text-align: center;
}

button {
  text-transform: uppercase;
  text-decoration: none;
  background: var(--button);
  color: var(--button-color);
  padding: 1rem 4rem;
  border-radius: 4rem;
  font-size: 0.875rem;
  letter-spacing: 0.05rem;
  z-index: 100;
  margin-top: 20px;
}

button:hover{
  background: var(--bg);
  color: var(--button);
  cursor: pointer;
}
