
<div class="wraper" id="print-Vouchers">
    <div class="voucher">


        <table class="header">
            <tr>
                <th class="img" rowspan="4"><img src="assets/sniti_logo.png" alt="Instute Logo"></th>
            </tr>
            <tr>
                <th class="tab-center"><h1  >{{ins_name}}</h1></th>
            </tr>
            <tr>
                <th class="tab-center"><h4 >{{address}}</h4></th>
            </tr>
            <tr>
                <th class="tab-center"><h4>Mobile No -{{mobile_no}} | Email -{{email_id}}  | Website -{{website}}</h4> </th>
            </tr>
        </table>

        <table>
            <tr >
                <th class="tab-center" colspan="13">PAYMENT VOUCHER</th>
            </tr>
            <tr class="t1">
                <th colspan="2">Account Head</th>
                <td colspan="3"></td>
                <th colspan="2">Voucher No.</th>
                <td colspan="3"></td>
            </tr>

            <tr class="t1">
                <th  colspan="2">L.F</th>
                <td colspan="3"></td>
                <th  colspan="2">DATE</th>
                <td colspan="3"></td>
            </tr>
        </table>

        <table>
            <tr>
                <th class="t2-h">Name</th>
                <td colspan="3"></td>
            </tr>
            <tr>
                <th class="t2-h">Address</th>
                <td colspan="3"></td>
            </tr>
            <tr class="payment-methods">
                <th class="t2-h" >Payment Method</th>
                <td class="t2-c" colspan="1"><input type="checkbox"> CASH </td>
                <td class="t2-c" colspan="1"><input type="checkbox"> CHEQUE </td>
                <td class="t2-c" colspan="1"> <input type="checkbox"> ONLINE TRANSFER </td>
            </tr>
        </table>

        <table>
            <tr>
                <th class="tab-center t3-sl">SL No.</th>
                <th class="tab-center">Description</th>
                <th class="tab-center t3-amm">Amount</th>
            </tr>
            <tr>
                <td class="tab-center">1</td>
                <td>2</td>
                <td>3</td>
            </tr>

            <tr class="total-amount">
                <td class="tab-right" colspan="2">TOTAL AMOUNT (₹)</td>
                <td></td>
            </tr>

        </table>
        <table class="l-table">
            <tr>
                <td class="t2-h" >Amount in Words</td>
                <td colspan="2"></td>
            </tr>
        </table>


        <table class="t-auth">
            <tr>
                <td  class="sig"></td>
                <td class="sig" ></td>
            </tr>
            <tr>
                <td class="tab-center">Authorize By</td>
                <td class="tab-center">Received By</td>
            </tr>
        </table>
    </div>
</div>


<div class="out">
    <button [useExistingCss]="true" [openNewTab]="true" printSectionId="print-Vouchers" ngxPrint >Print Here</button>
</div>